body {
	font-size: 16px;
	color: white;
	background-color: #FFFFFF;
	font-family: Comic Sans MS;
}

/* HEADER */
#header-nav {
	background-color: #808080;
	border-radius: 0;
	border-style: solid;
	border-width: 2px;
	border-color:black;
	color:black;
}

.navbar-brand p {
	font-size: 20px;
	color:black;
	
}

.navbar-brand a:focus, .navbar-brand a:hover {
	text-decoration: none;
	color: black;
}

#nav-list a {
	text-align: center;
	color:black;
}

#nav-list a:hover {
	background-color: #8243d6;
	color:black;
}
/* END HEADER */

/* Section */
#home {
	margin-bottom: 30px;
	color:black;
}

.row {
	
	position: relative;
	float: left;
}

.row > div > article {
	background-color: #808080;
	text-align: justify;
	margin-bottom: 20px;
	padding: 12px;
	color: black;
}
/* End Section */


@media (max-width: 767px) {
	.row > div > article {
		width: 80%;
		margin: 20px auto 0;
	}
}